import {{pascalCase name}}Container from '../../containers/{{pascalCase name}}Container';

interface {{pascalCase name}}Props {}

const {{pascalCase name}}Page: React.FC<{{pascalCase name}}Props> = (props) => (
  <div className="p-{{camelCase name}}">
    <{{pascalCase name}}Container />
  </div>
);

export default {{pascalCase name}}Page;
