import React from 'react';

// eslint-disable-next-line @typescript-eslint/no-empty-interface
interface {{pascalCase name}}ContainerProps {}

const {{pascalCase name}}Container: React.FC<{{pascalCase name}}ContainerProps> = () => {
  console.log('Im in {{pascalCase name}}, Delete me!');
  return <h1>Just a place holder</h1>;
};

export default {{pascalCase name}}Container;