interface {{pascalCase name}}ContainerProps {}

const {{pascalCase name}}Container: React.FC<{{pascalCase name}}ContainerProps> = () => {
  return <div>{{pascalCase name}}Container Test</div>;
};

export default {{pascalCase name}}Container;